In [2]:
import pandas as pd

df = pd.read_csv("datasets/adult/adult.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
# Find and display duplicated rows grouped together
duplicated_mask = df.duplicated(keep=False)
duplicated_df = df[duplicated_mask].copy()

if len(duplicated_df) > 0:
    # Sort by all columns so identical rows appear together
    duplicated_df_sorted = duplicated_df.sort_values(by=list(df.columns)).reset_index()
    print(f"Found {df.duplicated().sum()} duplicate rows (excluding first occurrence)")
    print(f"Total rows involved in duplication: {len(duplicated_df)}\n")
    print("Duplicated rows (sorted so duplicates appear together):")
    print(duplicated_df_sorted)
else:
    print("No duplicates found in the dataset.")

Found 24 duplicate rows (excluding first occurrence)
Total rows involved in duplication: 47

Duplicated rows (sorted so duplicates appear together):
    index  age         workclass  fnlwgt     education  education-num  \
0   17673   19           Private   97261       HS-grad              9
1   18698   19           Private   97261       HS-grad              9
2    6990   19           Private  138153  Some-college             10
3   21318   19           Private  138153  Some-college             10
4   15189   19           Private  146679  Some-college             10
5   21490   19           Private  146679  Some-college             10
6    3917   19           Private  251579  Some-college             10
7   31993   19           Private  251579  Some-college             10
8    5805   20           Private  107658  Some-college             10
9   11631   20           Private  107658  Some-college             10
10   8080   21           Private  243368     Preschool              1
11  15059   21           Private  243368     Preschool              1
12   4767   21           Private  250051  Some-college             10
13   9171   21           Private  250051  Some-college             10
14  21103   23           Private  240137       5th-6th              3
15  25872   23           Private  240137       5th-6th              3
16   5842   25           Private  195994       1st-4th              2
17  13084   25           Private  195994       1st-4th              2
18  22300   25           Private  195994       1st-4th              2
19   4325   25           Private  308144     Bachelors             13
20   4881   25           Private  308144     Bachelors             13
21   5579   27           Private  255582       HS-grad              9
22  28230   27           Private  255582       HS-grad              9
23   8679   28           Private  274679       Masters             14
24  26313   28           Private  274679       Masters             14
25  16975   30           Private  144593       HS-grad              9
26  18555   30           Private  144593       HS-grad              9
27  16846   35           Private  379959       HS-grad              9
28  32404   35           Private  379959       HS-grad              9
29   4940   38           Private  207202       HS-grad              9
30  29157   38           Private  207202       HS-grad              9
31  25624   39           Private   30916       HS-grad              9
32  28846   39           Private   30916       HS-grad              9
33  10367   42           Private  204235  Some-college             10
34  28522   42           Private  204235  Some-college             10
35  17916   44           Private  367749     Bachelors             13
36  22367   44           Private  367749     Bachelors             13
37  11965   46           Private  133616  Some-college             10
38  30845   46           Private  133616  Some-college             10
39  16297   46           Private  173243       HS-grad              9
40  17040   46           Private  173243       HS-grad              9
41   7920   49           Private   31267       7th-8th              4
42  21875   49           Private   31267       7th-8th              4
43   7053   49  Self-emp-not-inc   43479  Some-college             10
44  22494   49  Self-emp-not-inc   43479  Some-college             10
45   2303   90           Private   52386  Some-college             10
46   5104   90           Private   52386  Some-college             10

        marital-status         occupation   relationship                race  \
0        Never-married    Farming-fishing  Not-in-family               White
1        Never-married    Farming-fishing  Not-in-family               White
2        Never-married       Adm-clerical      Own-child               White
3        Never-married       Adm-clerical      Own-child               White
4        Never-married    Exec-managerial      Own-child               Black
5        Never-married    Exec-managerial      Own-child               Black
6        Never-married      Other-service      Own-child               White
7        Never-married      Other-service      Own-child               White
8        Never-married       Tech-support  Not-in-family               White
9        Never-married       Tech-support  Not-in-family               White
10       Never-married    Farming-fishing  Not-in-family               White
11       Never-married    Farming-fishing  Not-in-family               White
12       Never-married     Prof-specialty      Own-child               White
13       Never-married     Prof-specialty      Own-child               White
14       Never-married  Handlers-cleaners  Not-in-family               White
15       Never-married  Handlers-cleaners  Not-in-family               White
16       Never-married    Priv-house-serv  Not-in-family               White
17       Never-married    Priv-house-serv  Not-in-family               White
18       Never-married    Priv-house-serv  Not-in-family               White
19       Never-married       Craft-repair  Not-in-family               White
20       Never-married       Craft-repair  Not-in-family               White
21       Never-married  Machine-op-inspct  Not-in-family               White
22       Never-married  Machine-op-inspct  Not-in-family               White
23       Never-married     Prof-specialty  Not-in-family               White
24       Never-married     Prof-specialty  Not-in-family               White
25       Never-married      Other-service  Not-in-family               Black
26       Never-married      Other-service  Not-in-family               Black
27            Divorced      Other-service  Not-in-family               White
28            Divorced      Other-service  Not-in-family               White
29  Married-civ-spouse  Machine-op-inspct        Husband               White
30  Married-civ-spouse  Machine-op-inspct        Husband               White
31  Married-civ-spouse       Craft-repair        Husband               White
32  Married-civ-spouse       Craft-repair        Husband               White
33  Married-civ-spouse     Prof-specialty        Husband               White
34  Married-civ-spouse     Prof-specialty        Husband               White
35       Never-married     Prof-specialty  Not-in-family               White
36       Never-married     Prof-specialty  Not-in-family               White
37            Divorced       Adm-clerical      Unmarried               White
38            Divorced       Adm-clerical      Unmarried               White
39  Married-civ-spouse       Craft-repair        Husband               White
40  Married-civ-spouse       Craft-repair        Husband               White
41  Married-civ-spouse       Craft-repair        Husband               White
42  Married-civ-spouse       Craft-repair        Husband               White
43  Married-civ-spouse       Craft-repair        Husband               White
44  Married-civ-spouse       Craft-repair        Husband               White
45       Never-married      Other-service  Not-in-family  Asian-Pac-Islander
46       Never-married      Other-service  Not-in-family  Asian-Pac-Islander

       sex  capital-gain  capital-loss  hours-per-week native-country income
0     Male             0             0              40  United-States  <=50K
1     Male             0             0              40  United-States  <=50K
2   Female             0             0              10  United-States  <=50K
3   Female             0             0              10  United-States  <=50K
4     Male             0             0              30  United-States  <=50K
5     Male             0             0              30  United-States  <=50K
6     Male             0             0              14  United-States  <=50K
7     Male             0             0              14  United-States  <=50K
8   Female             0             0              10  United-States  <=50K
9   Female             0             0              10  United-States  <=50K
10    Male             0             0              50         Mexico  <=50K
11    Male             0             0              50         Mexico  <=50K
12  Female             0             0              10  United-States  <=50K
13  Female             0             0              10  United-States  <=50K
14    Male             0             0              55         Mexico  <=50K
15    Male             0             0              55         Mexico  <=50K
16  Female             0             0              40      Guatemala  <=50K
17  Female             0             0              40      Guatemala  <=50K
18  Female             0             0              40      Guatemala  <=50K
19    Male             0             0              40         Mexico  <=50K
20    Male             0             0              40         Mexico  <=50K
21  Female             0             0              40  United-States  <=50K
22  Female             0             0              40  United-States  <=50K
23    Male             0             0              50  United-States  <=50K
24    Male             0             0              50  United-States  <=50K
25    Male             0             0              40              ?  <=50K
26    Male             0             0              40              ?  <=50K
27  Female             0             0              40  United-States  <=50K
28  Female             0             0              40  United-States  <=50K
29    Male             0             0              48  United-States   >50K
30    Male             0             0              48  United-States   >50K
31    Male             0             0              40  United-States  <=50K
32    Male             0             0              40  United-States  <=50K
33    Male             0             0              40  United-States   >50K
34    Male             0             0              40  United-States   >50K
35  Female             0             0              45         Mexico  <=50K
36  Female             0             0              45         Mexico  <=50K
37  Female             0             0              40  United-States  <=50K
38  Female             0             0              40  United-States  <=50K
39    Male             0             0              40  United-States  <=50K
40    Male             0             0              40  United-States  <=50K
41    Male             0             0              40  United-States  <=50K
42    Male             0             0              40  United-States  <=50K
43    Male             0             0              40  United-States  <=50K
44    Male             0             0              40  United-States  <=50K
45    Male             0             0              35  United-States  <=50K
46    Male             0             0              35  United-States  <=50K

In [7]:
# Count how many duplicates exist
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Show the duplicated rows with their index
duplicated_rows = df[df.duplicated(keep=False)]
print(f"Total rows involved in duplication: {len(duplicated_rows)}")
duplicated_rows

Number of duplicate rows: 24
Total rows involved in duplication: 47

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
3917,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
4325,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4767,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4940,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
5579,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
5805,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
5842,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
6990,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
7053,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
7920,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
8080,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
8679,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
10367,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
11965,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
15189,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
16297,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
16846,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
16975,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,?,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
17673,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
17916,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,?,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21103,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25624,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K